.homePage {
  text-align: center;
  margin-bottom: 50px;
  .homeText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    .homeButton {
      padding: 1rem 2rem;
      background-color: rgb(224, 70, 9);
      color: #fff;
      font-weight: 700;
    }
  }
}
